 /* Importing Google Fonts */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

 /* Resetting default padding, margin, and box-sizing for all elements */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* Defining CSS variables for colors and font sizes */
 :root {
     --primary-clr: hsl(0, 1%, 44%);
     --header-clr: hsl(0, 0%, 8%);
     --body-bg: hsl(0, 0%, 94%);
     --main-bg: hsl(0, 0%, 100%);
     --border-bg: hsl(0, 0%, 86%);
     --cta: hsl(259, 100%, 65%);
     --error: hsl(0, 100%, 67%);
     --fs-xs: 12px;
     --fs-s: 18px;
     --fs-l: 2.5rem;
 }

 /* Styling for the body element */
 body {
     min-height: 100vh;
     background: var(--body-bg);
     font-size: var(--fs-xs);
     font-family: "Poppins", sans-serif;
     font-style: italic;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 /* Preloader styles */
 #preloader {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 9999;
     background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* Spinner styles */
 .spinner {
     border: 16px solid #f3f3f3;
     border-top: 16px solid var(--cta);
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 1s linear infinite;
 }

 /* Keyframes for spinner animation */
 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 /* Main container styles */
 main {
     background: var(--main-bg);
     padding: 1.5rem;
     margin: 1rem;
     border-radius: 1.5rem 1.5rem 5rem 1.5rem;
     box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
 }

 /* Form styles */
 main form {
     position: relative;
 }

 /* Input container grid styles */
 form .input-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: start;
     gap: 1rem;
     padding-bottom: 3rem;
     border-bottom: 1px solid var(--border-bg);
 }

 /* Individual input field styles */
 .input-field {
     display: grid;
 }

 /* Input field children elements */
 .input-field>* {
     width: 100%;
 }

 /* Label styles */
 .input-field .label {
     color: var(--primary-clr);
     font-weight: 700;
     font-style: normal;
     text-transform: uppercase;
     letter-spacing: 3px;
 }

 /* Error label styles */
 .input-field.empty-value .label,
 .input-field.invalid-value .label {
     color: var(--error);
 }

 /* Input styles */
 .input-field .input {
     height: 3rem;
     color: var(--header-clr);
     font-size: var(--fs-s);
     font-weight: 700;
     font-family: "Poppins", sans-serif;
     padding-left: 1rem;
     margin: 0.5rem 0;
     outline: none;
     border: 1px solid var(--border-bg);
     border-radius: 0.5rem;
     transition: all 0.2s linear;
 }

 /* Placeholder styles */
 .input::placeholder {
     font-size: var(--fs-s);
     font-weight: 700;
     font-family: "Poppins", sans-serif;
 }

 /* Focused input styles */
 .input-field .input:focus {
     border: 1px solid var(--cta);
 }

 /* Error input border styles */
 .input-field.empty-value .input,
 .input-field.invalid-value .input {
     border: 1px solid var(--error);
 }

 /* Error message styles */
 .empty,
 .invalid {
     color: var(--error);
     display: none;
 }

 /* Display error messages */
 .input-field.empty-value .empty {
     display: initial;
 }

 .input-field.invalid-value .invalid {
     display: initial;
 }

 /* Submit button styles */
 form .submit-btn {
     position: absolute;
     bottom: -25px;
     left: 0;
     right: 0;
     margin-inline: auto;
     width: 50px;
     height: 50px;
     background: var(--cta);
     display: grid;
     place-items: center;
     outline: none;
     border: none;
     padding: 0.5rem;
     border-radius: 50%;
     cursor: pointer;
     transition: all 0.2s linear;
     animation: spin 3s linear infinite;
 }

 /* Keyframes for submit button spin animation */
 @keyframes spin {
     0% {
         transform: rotate(0);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 /* Submit button hover styles */
 .submit-btn:hover {
     background: var(--primary-clr);
     animation: rubberBand;
     animation-duration: 2s;
 }

 /* Submit button image styles */
 .submit-btn img {
     width: 20px;
     height: 20px;
 }

 /* Age container styles */
 main .age-container {
     padding: 3rem 0 1rem 0;
 }

 /* Age display styles */
 .age-container .age {
     color: var(--header-clr);
     font-size: var(--fs-l);
     font-weight: 800;
     line-height: 1.2;
 }

 /* Highlighted age values */
 .age span,
 footer a {
     color: var(--cta);
 }

 /* Footer link hover styles */
 footer a:hover {
     text-decoration: none;
 }

 /* Responsive font size adjustments */
 @media (min-width: 350px) {
     :root {
         --fs-l: 3rem;
     }
 }

 @media (min-width: 750px) {
     :root {
         --fs-s: 20px;
         --fs-l: 4.75rem;
     }

     main {
         width: 650px;
         padding: 3rem;
         margin: 2rem;
     }

     form .input-container {
         grid-template-columns: repeat(3, minmax(auto, 125px));
     }

     .input-field .input {
         height: 4rem;
     }

     form .submit-btn {
         left: auto;
         margin-left: auto;
         bottom: -40px;
         width: 80px;
         height: 80px;
     }

     .submit-btn img {
         width: 40px;
         height: 40px;
     }
 }